<!-- views/downloadCsv.ejs -->

<%- include('../layout.ejs') %>

<section>
    <h2>Download CSV</h2>
    <p>Click the button below to download the CSV file.</p>
    <a href="/csv/downloadCsv" class="button">Download CSV</a>
</section>
