<%- include('../layout.ejs') %>
<link rel="stylesheet" href="../../public/main.css">

<section>
    <h2>Add Student</h2>
    <form action="/students/add" method="post">
        <label for="studentName">Name:</label>
        <input type="text" id="studentName" name="studentName" required>
        <label for="batch">Batch:</label>
        <input type="text" id="batch" name="batch" required>

        <label for="college">College:</label>
        <input type="text" id="college" name="college" required>

        <label for="status">Status:</label>
        <select id="status" name="status" required>
            <option value="placed">Placed</option>
            <option value="not_placed">Not Placed</option>
        </select>

        <label for="dsa">DSA Score:</label>
        <input type="number" id="dsa" name="dsa" required>

        <label for="webd">WebD Score:</label>
        <input type="number" id="webd" name="webd" required>

        <label for="react">React Score:</label>
        <input type="number" id="react" name="react" required>

        <button type="submit">Add Student</button>
    </form>
</section>
