<%- include('../layout.ejs') %>
<h2>List of Interviews</h2>

<table>
    <thead>
        <tr>
            <th>Company Name</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        <% interviews.forEach(interview => { %>
            <tr>
                <td><%= interview.companyName %></td>
                <td><%= interview.date %></td>
            </tr>
        <% }); %>
    </tbody>
</table>
<a href="/interviews/create">Create New Interview</a>
